@charset "UTF-8";
footer {
  display: flex;
  justify-content: space-between;
  border: 2px solid blue;
  margin-top: 60px;
  margin-bottom: 0px;
}
footer .mapa {
  display: inline;
}
footer div ul li {
  width: 60px;
  height: 90px;
}
@media (max-width: 768px) {
  footer {
    flex-direction: column;
  }
  footer div {
    width: 100%;
  }
}

.iframe-contenedor iframe {
  width: 200%;
}
@media (max-width: 768px) {
  .iframe-contenedor iframe {
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
  }
}

/*ESTILO DE PÁGINA "BALNEARIOS"*/
.contenedor-grilla-h1 {
  display: grid;
  grid-template-columns: repeat(3, 350px);
  grid-template-rows: 200px repeat(3, 350px);
  grid-template-areas: "titulo-1 titulo-1 titulo-1" "lugar-1 texto-1 contenedor-foto-1" "lugar-2 texto-2 contenedor-foto-2" "lugar-3 texto-3 contenedor-foto-3";
}
@media (max-width: 768px) {
  .contenedor-grilla-h1 {
    width: 100%;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: auto;
    grid-template-areas: "titulo-1" "lugar-1" "texto-1" "contenedor-foto-1" "lugar-2" "texto-2" "contenedor-foto-2" "lugar-3" "texto-3" "contenedor-foto-3";
  }
  .contenedor-grilla-h1 .titulo-1 {
    grid-area: titulo-1;
    width: 100%;
  }
  .contenedor-grilla-h1 .lugar-1 {
    grid-area: lugar-1;
  }
  .contenedor-grilla-h1 .texto-1 {
    grid-area: texto-1;
  }
  .contenedor-grilla-h1 .contenedor-foto-1 {
    grid-area: contenedor-foto-1;
    width: 100%;
  }
  .contenedor-grilla-h1 .lugar-2 {
    grid-area: lugar-2;
  }
  .contenedor-grilla-h1 .texto-2 {
    grid-area: texto-2;
  }
  .contenedor-grilla-h1 .contenedor-foto-2 {
    grid-area: contenedor-foto-2;
  }
  .contenedor-grilla-h1 .lugar-3 {
    grid-area: lugar-3;
  }
  .contenedor-grilla-h1 .texto-3 {
    grid-area: texto-3;
  }
  .contenedor-grilla-h1 .contenedor-foto-3 {
    grid-area: contenedor-foto-3;
  }
  .contenedor-grilla-h1 .contenedor-grilla-h1 img {
    width: 300px;
    height: 300px;
  }
}

.titulo-1 {
  grid-area: titulo-1;
}

.lugar-1 {
  grid-area: lugar-1;
}

.texto-1 {
  grid-area: texto-1;
}

.contenedor-foto-1 {
  grid-area: contenedor-foto-1;
}

.lugar-2 {
  grid-area: lugar-2;
}

.texto-2 {
  grid-area: texto-2;
}

.contenedor-foto-2 {
  grid-area: contenedor-foto-2;
}

.lugar-3 {
  grid-area: lugar-3;
}

.texto-3 {
  grid-area: texto-3;
}

.contenedor-foto-3 {
  grid-area: contenedor-foto-3;
}

.contenedor-grilla-h1 img {
  width: 300px;
  height: 300px;
}

.gradiente-radial1 {
  display: flex;
  justify-content: center;
  height: 50px;
  width: 100%;
  background-image: radial-gradient(circle, yellow, green);
}

.gradiente1 {
  display: flex;
  justify-content: center;
  height: 50px;
  width: 100%;
  background-image: linear-gradient(rgb(167, 156, 156), rgb(46, 43, 43));
}

.gradiente2 {
  display: flex;
  justify-content: center;
  height: 50px;
  width: 100%;
  background-image: linear-gradient(blue, rgba(104, 91, 91, 0.753));
}

.gradiente3 {
  display: flex;
  justify-content: center;
  height: 50px;
  width: 100%;
  background-image: linear-gradient(rgb(185, 36, 36), rgb(221, 147, 10));
}

.gradiente4 {
  display: flex;
  justify-content: center;
  height: 50px;
  width: 100%;
  background-image: linear-gradient(rgb(177, 54, 54), rgb(184, 44, 44));
}

.gradiente5 {
  display: flex;
  justify-content: center;
  height: 50px;
  width: 100%;
  background-image: linear-gradient(rgb(189, 189, 73), rgb(252, 170, 18));
}

.gradiente6 {
  display: flex;
  justify-content: center;
  height: 50px;
  width: 100%;
  background-image: linear-gradient(rgb(16, 207, 221), rgb(231, 239, 241));
}

* {
  margin: auto;
  margin-right: auto;
  box-sizing: border-box;
}

a:link, a:visited, a:active {
  text-decoration: none;
  transition: 0.5s;
}

header {
  background-color: rgb(255, 228, 196);
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

nav li {
  margin-right: 10px;
}

@media (max-width: 768px) {
  nav li:last-child {
    margin-right: 0;
    margin-bottom: 10px;
  }
}
header h1 {
  font-size: 30px;
  justify-content: center;
  margin-left: 250px;
}

header nav ul li {
  display: inline-block;
  font-size: 20px;
  margin-left: 20px;
}
header nav ul li header nav ul li a:hover {
  background-color: aqua;
  border-bottom: 2px solid blue;
}

header nav ul li a:active {
  background-color: brown;
}

main .articulo {
  display: flex;
}

main .primera {
  display: flex;
  width: 80%;
}
@media screen and (max-width: 576px) {
  main .primera {
    flex-direction: column;
  }
}

main .primera .imagen-1 {
  width: 35%;
  height: 300px;
  border: 2px solid blue;
}

main .primera .imagen-2 {
  width: 35%;
  height: 300px;
  border: 2px solid blue;
  display: inline-block;
}

main .primera .imagen-3 {
  width: 35%;
  height: 300px;
  border: 2px solid blue;
  display: inline-block;
}

main .segunda {
  margin-top: 2%;
  margin-right: 4%;
  margin-bottom: 2%;
  margin-left: 5%;
  display: flex;
  flex-direction: column;
  border: 2px solid blue;
}
@media screen and (max-width: 576px) {
  main .segunda {
    flex-direction: column;
  }
}

@media screen and (max-width: 576px) {
  main .titulo-historia {
    flex-direction: column;
  }
}

main .segunda .historia-foto {
  display: flex;
  justify-content: space-between;
}
@media screen and (max-width: 576px) {
  main .segunda .historia-foto {
    flex-direction: column;
  }
}

/*# sourceMappingURL=style.css.map */
