footer {
    display: flex;
    justify-content: space-between;
    border: $bordes-cajas;
    margin-top: 60px;
    margin-bottom: 0px;

    .mapa {
        display: inline;
    }

    div{
        ul {
            li {
                width: 60px;
                height: 90px;
            }
        }
    }

    @media (max-width: 768px) {
        flex-direction: column;

        div {
            width: 100%;
        }
    }
    
}